@charset "UTF-8";

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #f5f5f6;
}

.header {
    height: 64px;
    line-height: 64px;
    padding: 0 64px;
    box-sizing: border-box;
}

.header h1 {
    padding: 0;
    margin: 0;
}

.consent-wrapper {
    display: flex;
    justify-content: center;
}

.consent-wrapper .consent-box {
    margin-top: 10%;
    padding: 64px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.consent-wrapper .consent-box button {
    width: 100%;
    height: 38px;
    margin-top: 10px;
    color: #fff;
    background-color: #1366ec;
    border: none;
    font-weight: bold;
}

.consent-wrapper .consent-box ul {
    list-style-type: none;
    padding: 0;
    margin: 1.5rem 0;
}

.consent-wrapper .consent-box ul li {
    margin: 1rem 0;
    padding: 7px;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.consent-wrapper .consent-box ul li:hover {
    transform: translateX(5px);
    color: #1366ec;
}

.consent-wrapper .consent-box ul li i {
    margin-right: 0.8rem;
    color: #1366ec;
}