<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>授权</title>
  <link rel="icon" href="data:;">
  <link rel="stylesheet" th:href="@{/assets/style/iconfont.css}">
  <link rel="stylesheet" th:href="@{/assets/style/consent.css}">
</head>

<body>
  <div class="header">
    <h1>Neutron</h1>
  </div>
  <div class="consent-wrapper">
    <div class="consent-box">
      <h2><strong th:text="${clientName}"></strong> 请求访问您的以下信息：</h2>
      <form th:action="@{{issuer}/oauth2/authorize(issuer=${issuer})}" method="post">
        <input type="hidden" name="client_id" th:value="${clientId}"/>
        <input type="hidden" name="state" th:value="${state}"/>
        <th:block th:each="scope:${scopes}">
          <input type="hidden" name="scope" th:value="${scope}" checked>
        </th:block>
        <th:block th:if="${not #lists.isEmpty(previouslyApprovedScopes)}" th:each="scope:${previouslyApprovedScopes}">
          <input type="hidden" name="scope" th:value="${scope}" checked>
        </th:block>
        <ul>
        <th:block th:each="scope:${scopes}">
          <li>
            <i class="icon icon-info"></i><span th:text="${scopesDesc.getOrDefault(scope,scope)}"></span>
          </li>
        </th:block>
        <th:block th:if="${not #lists.isEmpty(previouslyApprovedScopes)}" th:each="scope:${previouslyApprovedScopes}">
          <li>
            <i class="icon icon-info"></i>
            <span th:text="${scopesDesc.getOrDefault(scope,scope)}"></span>
          </li>
        </th:block>
        </ul>
        <button type="submit">允许</button>
      </form>
    </div>
  </div>
</body>

<script type="application/javascript" th:src="@{/assets/script/consent.js}"></script>

</html>
