<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>授权</title>
  <link rel="icon" href="data:;">
  <link rel="stylesheet" th:href="@{/assets/style/consent.css}">
</head>

<body>
<div class="header">
  <span th:text="${tenantName}">Neutron</span>
</div>
<div class="content">
  <div class="title">授权</div>
  <div class="desc">您将授予 <span th:text="${clientName}"></span> 以下权限</div>
  <div class="consent-box">
    <form th:action="@{{issuer}/oauth2/authorize(issuer=${issuer})}" method="post">
      <input type="hidden" name="client_id" th:value="${clientId}"/>
      <input type="hidden" name="state" th:value="${state}"/>
      <div class="consent-item" th:each="scope:${scopes}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M11 15h2v2h-2zm0-8h2v6h-2zm1-5C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8"
          />
        </svg>
        <input type="hidden" name="scope" th:value="${scope}">
        <label th:text="${scope}"></label>
      </div>
      <div class="consent-item" th:if="${not #lists.isEmpty(previouslyApprovedScopes)}" th:each="scope:${previouslyApprovedScopes}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M11 15h2v2h-2zm0-8h2v6h-2zm1-5C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8"
          />
        </svg>
        <input type="hidden" name="scope" th:value="${scope}">
        <label th:text="${scope}"></label>
      </div>
      <div>
        <button type="submit" class="consent-btn">确认授权</button>
      </div>
    </form>
  </div>
</div>
</body>

</html>
