<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>登录</title>
  <link rel="icon" href="data:;">
  <link rel="stylesheet" th:href="@{/assets/style/agreement.css}">
</head>

<body>
<div class="header">
  <span>Neutron</span>
</div>
<div class="content">
  <div class="title">隐私条款</div>
  <div class="desc">生效日期: 2025-10-01 起</div>
  <div class="agreement-box">
    <label>提示条款</label>
    <p>您的信任对我们非常重要，我们深知用户信息安全的重要性，我们将按照法律法规要求，采取安全保护措施，保护您的用户信息安全可控。一旦您开始使用我们的服务，将被视为对本条款内容的接受和认可。</p>
  </div>
</div>
</body>

</html>
