<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>登录</title>
  <link rel="icon" href="data:;">
  <link rel="stylesheet" th:href="@{/assets/style/agreement.css}">
</head>

<body>
<div class="header">
  <span th:text="${tenantName}">Neutron</span>
</div>
<div class="content">
  <div class="title" th:text="${termsOfServiceTitle}"></div>
  <div class="desc" th:text="${termsOfServiceDesc}"></div>
  <div class="agreement-box" th:utext="${termsOfServiceContent}"></div>
</div>
</body>

</html>
